*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100;
    background-color: rgb(77, 124, 77);
}

#panel{
    height: 80%;
    width: 80%;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

#paneltop{
    position: relative;
    padding: 15px;
    height: 100px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    color: white;
    width: 100%;
    background-color: rgb(7, 86, 43);
}

.elem{
    display: flex;
    align-items: center;
    gap: 20px;
}

.box{
    color: black;
    font-weight: 700;
    font-size: 30px;
    background-color: rgb(224, 236, 224);
    padding: 10px 20px;
    border-radius: 5px;
}

.elem h2{

    color: white;
    font-weight: 500;
    font-size: 22px;

}

#panelbottom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    height: calc(100%-100px);
}

.bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: gold;
    color: white;
    font-weight: 500;
}

.bubble:hover{
    background-color: rgb(5, 46, 23);
    cursor: pointer;
}